# Auto detect text files and perform LF normalization
* text=auto
*.mat linguist-detectable=false
*.hlsl linguist-detectable=false
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
